# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# FastAPI / Uvicorn reload artifacts
*.reload

# Firebase 비공개 키
firebase_key.json
