<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ store.name }}</title>
</head>
<body>
    <h1>{{ store.name }}</h1>
    <p><strong>작성자:</strong> {{ nickname }}</p>
    <p><strong>소개:</strong> {{ store.introduce }}</p>
    <p><strong>주소:</strong> {{ store.location }}</p>
    <p><strong>판매 제품:</strong> {{ store.product }}</p> 
    <p><a href="{{ store.google_map_url }}" target="_blank">지도에서 위치 보기</a></p> 
    <p><strong>운영 시간:</strong> {{ store.time }}</p>
    <p><strong>휴무일:</strong> {{ store.rest }}</p>

</body>
</html>
